div#auth {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.25rem;
  width: 80%;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  .nav-link {
    background-color: white;
    color: #23C979;
    font-weight: 500;
    border: none;
    cursor: pointer;

    transition: all 0.5s;
    &.active {
      background-color: #23C979;
      color: white;
    }
  }

  div#auth-form-container {
    button {
      text-align: center;
      margin: 0 auto;

      border: 1px solid darken(#23C979, 10%);
      color: darken(#23C979, 10%);
      background-color: white;
      cursor: pointer;

      transition: all 0.5s;
      &:hover {
        border-color: #23C979;

        color: #23C979;
      }
    }
  }
}
